@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #f1356d;
} 
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 50px;
  font-weight: bold;
  padding: 10px;
  background-color: whitesmoke;
 
}
.slider {
  position: absolute;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50px;
  left: 300px;
 
}


.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

h2 {
  position: absolute;
  align-items: center;
  text-align: center;
  top: 400px;
  left: 100px;
  font-family:  American Typewriter, serif; 
  font-size: 25px;
  color: yellow; 
}

.background {
  background-image: url(https://cdn.pixabay.com/photo/2017/08/13/18/31/space-2638158_960_720.jpg);
 position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

}
